* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
    overflow-x: hidden;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
a {
    text-decoration: none;
    color:#000;
    height: 100%;
}
h1 {
    margin-top: 20px;
}
.header {
    min-width: 100%;
    height: 100px;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(138, 138, 209, 1) 0%,
      rgba(0, 212, 255, 1) 90%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }
  .header_container {
    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    gap:200px;
  }
  .header_logo {
    cursor: pointer;
    width: 150px;
    height: 100%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  
  .header_user {
    min-width: 100px;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
  }
  .header_user p {
    width: 200px;
    color: white;
    font-weight: 500;
  }
  .header_user img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50%;
    object-fit: cover;
  }
  /* .header_user p{
    } */
  .header_user_menu_option {
    position: absolute;
    display: none;
    bottom: -114px;
    justify-content: center;
    flex-direction: column;
    padding-left: 2px;
    width: 150px;
    height: 100px;
    background-color: #fff;
    z-index: 2;
    border-radius: 3px;
  }
  
  .header_user:hover .header_user_menu_option::before {
    content: "";
    width: 100%;
    height: 24px;
    position: absolute;
    top: -17px;
  }
  .header_user:hover .header_user_menu_option {
    display: block;
  }
  
  .header_user_menu_option_1 {
    height: 50%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d4d0d0;
    color: #000;
    transition: all 0.2s;
    padding: 0 0 0 15px;
  }
  .header_user_menu_option_1:hover {
    background-color: #f5f5f5;
  }
  .header_user.none {
    display: none;
  }
form {
    width: 70%;
    display: flex;
    justify-content:center;
    flex-direction:column;
}
.mota_options {
    display: flex;
    margin-bottom: 10px;

}
.mota_option {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all .2s;
}
.mota_option:hover {
    background-color: #f6f2f2;
}
label {
    display: block;
    margin-bottom: 10px;
}
input {
    margin-bottom: 15px;
}
input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
}

textarea {
    height: 150px;
}

.image-preview {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 20px;
}
button {
    min-width:136px;
    height:45px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color:#3dc6f6;
    margin-top: 15px;
    cursor: pointer;
    transition: all 0.1s;
    align-self: flex-end;
}
button:hover {
    background-color: #84d1ed;
}
footer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px solid #61b0e8;
    background-color: #fff;
  }