.main_content {
  padding: 20px;
}
.backpage_icon {
    font-size: 30px;
    float: left;
    margin-right: 18px;
    line-height: 40px;
    cursor: pointer;
}
form {
    width: 70%;
    display: flex;
    justify-content:center;
    flex-direction:column;
    clear: both;
}

label {
    display: block;
    margin-bottom: 10px;
}
input {
    margin-bottom: 15px;
}
input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
}

textarea {
    height: 150px;
}

.previewImg {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 20px;
}
button {
    min-width:136px;
    height:45px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color:#3dc6f6;
    margin-top: 15px;
    cursor: pointer;
    transition: all 0.1s;
    align-self: flex-end;
}
button:hover {
    background-color: #84d1ed;
}