body {
}
.form_container {
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: auto;
  padding: 20px 30px;
  min-height: 450px;
}
.form_section {
  margin-bottom: 36px;
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.avatar img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  margin-left: 50px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  font-size: 1.2rem;
  margin-right: 20px;
}

input[type="text"] {
  padding: 5px;
  float: right;
}

input[type="radio"] {
  margin-right: 10px;
}
input[type="file"] {margin-top: 24px;}

.buttons {
  text-align: right;
  margin-top: 40px;
}
footer {
}
