

.search-box {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	margin-right: auto;
	margin-top: 16px;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

.filter-box {
	display: flex;
	align-items: center;
    border:1px solid #000;
    border-radius: 5px;
    margin-left: 3px;
}

.filter-box span {
	margin-right: 10px;
}

.filter-box select {
	padding: 10px;
	border-radius: 5px;
	border: none;
}

.results-box {
	margin-top: 20px;
	width: 100%;
}

.results-box h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.results-box ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.product-box {
	width: calc(33.33% - 10px);
	background-color: #f5f5f5;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.product-box h3 {
	font-size: 16px;
	margin: 0 0 10px;
}

.product-box p {
	font-size: 14px;
	margin: 0;
}

.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 20px;
}

.pagination li {
    margin-right: 10px;
}

.pagination a {
    display: block;
    padding: 5px 10px;
    background-color: #f4f4f4;
    color: #333;
    text-decoration: none;
    border-radius: 3px;
    transition: all .2s ease-in-out;
}

.pagination a:hover {
    background-color: #333;
    color: #fff;
}
button {
    margin:0 15px;
}
  select {
    border: 3px solid #000;
  }